<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Temas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-thumbnail item-start>
        <img src="{{getSource(item.id)}}">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <!--       <p>Hayao Miyazaki • 1988</p>
 --> <button ion-button clear item-end (click)=goToContent(item)>Ver</button>
    </ion-item>
  </ion-list>
</ion-content>