<ion-header>
  <ion-navbar>
    <ion-title>
      bioApp
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card (click)="goToList(CLONACION)">
    <img src="../../assets/imgs/clonacion/0.png"/>
    <div class="card-title">Clonación</div>
    <div class="card-subtitle">Tema 1</div>
  </ion-card>
  <ion-card (click)="goToList(CULTIVO)">
    <img src="../../assets/imgs/cultivos/0.png"/>
    <div class="card-title">Cultivos hidropónicos</div>
    <div class="card-subtitle">Tema 2</div>
  </ion-card>

  
</ion-content>
