<!--
  Generated template for the ContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.tema}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img src="{{source}}">
        <ion-card-content>
            <ion-card-title>
              {{item.title}}
            </ion-card-title>
            <p>
              {{item.text}}
            </p>
          </ion-card-content>
    </ion-card>

</ion-content>
